/*Grid*/
@import "grid.scss";
/*Colors*/
@import "colors.scss";
/*navigation*/
@import "navigation.scss";
/*Assets*/
@import "assets.scss";
/*General*/

h1 {
	font-weight: 400
}
.parrafo {
	width: 80%;
	margin: 0 auto;
	font-weight: 300;
}
.full-height {
	height: 100%;
}
.wall-food {
	background-image: url("../images/maxresdefault.jpg");
	background-size: cover;
}
/*Alineaciones*/
.text-center {
	text-align: center;
}
.line-small {
	line-height: 1.8em;
}
/*Tamaños*/
.big-text {
	font-size: 3em;
}
.extra-big-text {
	font-size: 5em;	
}

/*Grosores*/
.bold {
	font-weight: 700;
}
/*Shadows*/
.shadow-text {
	text-shadow: -1px 5px 4px #333,
								-1px 5px 4px #333;
}

/*Paddings*/
.small-padding {
	padding: 0.8em;
	box-sizing: border-box;
}
.big-padding {
	padding: 2em;
	box-sizing: border-box;
}